.header{
    position: absolute;
    width: 100%;
    height: 46px;
    background-color: #333;
    
    &__menu-lists{
        margin: 0px;
        padding-left: 0px;
        
        &__menu-items{
            top: 0;
            left: 0;
            display: inline-block;
            text-decoration: none;
            font-size: 15px;
            text-align: center;
            padding: 12px 24px;
            line-height: 1.5;
/*            margin-left: -4px;*/
        }
        &__menu-items:hover{
            background-color: #CCC;
            cursor: pointer;
            a{
                color: #333;
            }
        }
        &__search-items{
            display: inline-block;
            float: right;
            width: 62px;
            height: 46px;
        }
        &__search-items:hover{
            background-color: #F44336;
            cursor: pointer;
        }
    }
}